@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:wght@500;700&display=swap");
:root {
  --clr-primary-1: #6e6e6d;
  --clr-primary-2: #fad0c9;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-size: 20px;
}
p {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--clr-primary-1);
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 4rem;
  color: var(--clr-primary-1);
}
h2 {
  font-family: "Playfair Display", serif;
  color: var(--clr-primary-2);
}
a {
  color: var(--clr-primary-1);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  text-decoration: underline;
}
button {
  font-family: "Open Sans", sans-serif;
}

.head {
  width: 100%;
  height: 100%;
  background: var(--clr-primary-1);
  display: flex;
}
.header {
  width: 800px;
  height: 100vh;
  background: var(--clr-primary-2);
  border-radius: 0 0 100% 0;
}
header {
  display: flex;
  width: 50%;
  padding: 20px 0 0 20px;
  justify-content: space-between;
}
.header-text {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-name: come-head;
}
@keyframes come-head {
  from {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  to {
    transform: translateX(00px);
    opacity: 1;
  }
}
.header-text p {
  text-align: center;
}
.head img {
  width: 400px;
  height: 500px;
  margin-top: 100px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  margin: 100px 0 0 0;
}
.options a {
  color: var(--clr-primary-2);
  margin-top: 10px;
  padding: 10px 10px;
  border: 5px solid var(--clr-primary-1);
  transition: all 0.3s ease-in-out;
}
.options a:hover {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #f7b5a9;
  border: 5px solid #f7b5a9;
}
.cart {
  border: 5px solid var(--clr-primary-2);
  padding: 0.5em 2em;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  cursor: pointer;
  transform: translateY(-50px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 0 0;
  width: 100%;
  background: var(--clr-primary-1);
}
.services {
  display: flex;
  width: 100%;
  padding: 3em 0;
  justify-content: space-evenly;
}
.service {
  width: 15%;
  padding: 0em 1em;
  align-items: center;
  border: 5px solid var(--clr-primary-1);
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  animation-duration: 2s;
  animation-name: come;
}
@keyframes come {
  from {
    transform: translateY(100px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.service img {
  width: 70%;
  padding: 1em;
}
.service:hover {
  border: 5px solid var(--clr-primary-2);
  transform: translateY(-20px);
  box-shadow: 5px 5px 30px 10px var(--clr-primary-2);
}
.service-txt {
  text-align: center;
}
.service-txt p {
  font-size: 1rem;
  color: var(--clr-primary-2);
}

/* Woman's fashion */

.fa {
  background: var(--clr-primary-2);
  width: 100%;
  display: flex;
}
.fa1 {
  margin-top: 35px;
  background: var(--clr-primary-1);
  width: 5%;
  height: 500px;
  padding: 4em 0 0 0;
}
.fa1-h1 {
  margin-bottom: 170px;
}
.fa1 h1 {
  color: var(--clr-primary-2);
  font-size: 3rem;
  transform: rotate(90deg);
}

.fa-main {
  width: 95%;
  background: var(--clr-primary-2);
  display: flex;
  justify-content: space-evenly;
}
.fa-inside {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.fa-inside-1 {
  transform: translateY(200px);
}
.fa-inside-2 {
  transform: translateY(150px);
}
.fa-inside img {
  width: 100%;
  border: 5px solid var(--clr-primary-2);
  transition: all 0.3s ease-in-out;
}
.fa-inside-txt {
  width: 20%;
}
.fa-inside-txt h1 {
  color: var(--clr-primary-1);
  transform: rotate(-90deg);
  margin-top: 280px;
}
.fa-inside-img {
  width: 79%;
}
.cart-btn {
  border: 5px solid var(--clr-primary-1);
  background: transparent;
  padding: 1em 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cart-btn:hover {
  border: 5px solid var(--clr-primary-2);
}
.empty-div {
  width: 100%;
  height: 210px;
  background: #ffffff;
}

/* Man's fashion */
.men-fa {
  background: var(--clr-primary-1);
  width: 100%;
  display: flex;
}
.men-fa1 {
  margin-top: 35px;
  background: var(--clr-primary-2);
  width: 5%;
  height: 500px;
  padding: 4em 0 0 0;
}
.men-fa1 h1 {
  color: var(--clr-primary-1);
  font-size: 3rem;
  transform: rotate(90deg);
}
.men-fa1-h1 {
  margin-bottom: 100px;
}
.men-fa-main {
  width: 95%;
  background: var(--clr-primary-1);
  display: flex;
  justify-content: space-evenly;
}
.men-fa1-inside {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.men-fa1-inside img {
  width: 100%;
  border: 5px solid var(--clr-primary-1);
}
.men-fa1-inside-1 {
  transform: translateY(210px);
}
.men-fa1-inside-2 {
  transform: translateY(160px);
}
.men-cart-btn {
  border: 5px solid var(--clr-primary-2);
  background: transparent;
  padding: 1em 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.men-cart-btn:hover {
  border: 5px solid var(--clr-primary-1);
}

.shoes {
  background: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.shoes h1 {
  text-align: center;
  margin-bottom: 2em;
}
.shoes-1,
.shoes-2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.shoe {
  width: 30%;
  border: 5px solid var(--clr-primary-1);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.shoe:hover {
  border-top: 5px solid var(--clr-primary-2);
  border-bottom: 5px solid var(--clr-primary-2);
  border-left: 5px solid black;
  border-right: 5px solid black;
}
.shoe span {
  color: var(--clr-primary-2);
}
.shoe-txt {
  display: flex;
  justify-content: space-evenly;
}
.shoe img {
  width: 100%;
}

.shoe-tag {
  font-size: 4rem;
  transform: rotate(90deg);
  text-align: center;
  margin-top: 200px;
}
.shoe-tag-top {
  transform: translateY(-100px);
}

footer {
  background: var(--clr-primary-2);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
